#contact{
    height: 100%;
    width: 100%;
    padding: 20px;
    background-position: 0 0;
    background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    opacity: 0.8;
    transition: background-image 0.3s ease-out;
}

#contact-text{
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    border-radius: 7px;
    border: 2px solid #3e64ff;
    color: #3e64ff;
    padding: 50px;
    height: 100%;
    width: 70%;
    margin: 3rem auto;
    margin-bottom: 2rem;
}

#contact-text form{
    width: 70%;
    margin: 0 auto;
}

#contact-text form button{
    background-color: #3e64ff;
    padding: 12px;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    font-weight: 500;
}

#contact-text form button:hover{
    color: #000;
}

#contact-text h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 38px;
    width: 70%;
    margin: auto;
    margin-bottom: 1rem;
}

.Contact-logo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 1.7rem;
    margin-top: 1rem;
}
.Contact-logo a{
    color: #fff;
    padding: 0 0.5rem;
    transition: color 0.2s ease-in-out;
}

@media (max-width: 768px){
    #contact-text{
        width: 90%;
    }
    #contact-text h1{
        font-size: 30px;
        margin: 0;
        padding: 10px;
    }
    #contact-text form{
        margin: 0;
        width: 95%;
    }
    #contact-text form button{
        padding: 10px;
    }
}