.Home {
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.Home-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    /* opacity: .1;
    width: 50%; */
    background-image: url("../assets/images/pic3.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    z-index: -1;

}

.Home-content{
   /* width: 100%; */
   /* margin: 0 auto; */
   /* text-align: center; */
   padding: 2rem;
   position: absolute;
   top: 35%;
   color: #fff;
   background-color: rgba(75, 156, 125, 0.6);
   font-family: 'Roboto', sans-serif;
}

.Home-intro{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    /* color: #24424f; */
    letter-spacing: 4px;
}

.Home-name{
    font-size: 60px;
    font-weight: 800;
    /* color: #000; */
    line-height: 1.5;
}

.Home-content h3{
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.5;
    /* color: #000; */
}

.Home-content h3 span{
    /* color: #3e64ff; */
    text-decoration: underline;
}

.mouse{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 70px;
    z-index: 2;
    text-align: center;
}

.mouse-icon{
    width: 70px;
    height: 70px;
    border: 1px solid transparent;
    cursor: pointer;
    position: relative;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.mouse-wheel{
    height: 70px;
    margin: -10px auto 0;
    display: block;
    width: 30px;
    background: transparent;
    animation: 1.6s ease infinite wheel-up-down;
    color: #fff;
    font-size: 40px;
    font-weight: 900;
    border-radius: 50%;
}

@keyframes wheel-up-down {
    25% {
        opacity: 1;
    
      }
      33% {
        opacity: 1;
        transform: translateY(30px);
      }
      67% {
        opacity: 1;
        transform: translateY(40px);
      }
      100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
      }
}

@media (max-width: 992px){
    .Home-intro{
        font-size: 14px;
    }
    .Home-name{
        font-size: 37px;
    }
}

@media (max-width: 768px){
    .Home-name{
        font-size: 37px;
        text-align: center;
    }

    .Home-content{
        top: 55%;
    }
    .Home-content h3{
        font-size: 1.6rem;
    }

    .mouse{
        bottom: 40px;
    }
    .mouse-wheel{
        font-size: 30px;
    }
}