#main-nav{
    color: #000;
    z-index: 10;
    transition: background .6s ease-in-out;
}

#nav-links li a{
    color: #000;
}
#nav-links li a:hover{
    color: #fff;
}

.logo{
    color: #000;
    height: 60px;
    font-size: 47px;
    line-height: 60px;
    padding: 0 20px;
    padding-top: 5px;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
    text-decoration: none;
    transform: rotate(355deg);
}

 
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: block;
    margin: 10px 2px;
    padding: 10px 20px;
    text-decoration: none !important;
    color: #262626;
    font-weight: 500;
    transition: background-color 0.3s ease-in-out;
}

#nav-links li a.active{
    color: #fff;
    background: #3e64ff;
}

@media(max-width: 992px) {
    #nav-links li a{
        padding-left: 30px;
    }
}
nav.fill ul li a {
    position: relative;
}
nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #3e64ff;
    height: 1px;
}

nav.fill ul li a {
    transition: all 2s;
}
  
nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}
nav.fill li a:hover {
    color: #fff;
    z-index: 1;
}
nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}

@media (max-width: 992px){
    #main-nav{
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
    }
}

@keyframes fill {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: #3e64ff;
    }
  }